body {
    margin: 0;
 font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.navbar {
    background-color:black;
    overflow: hidden;
}
.image img {
    object-fit: cover;
    width: 100%;
    
}

h1{
    color: #fff;
    font-size: 46px;
    font-weight: 200;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 14px 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #d9ff00a0;
    border-radius: 4px;
}

.articles__title {
    line-height: 73.67px;
    color: #fff;
    margin: 37px 0px 30px 0;
    font-size: 46px;
    font-weight: 400;
}

.articles {
    padding-bottom: 52px;
}

.articles__about {
    width: 100%;
    height: 336px;
}

.articles__about-wrapper {
    height: 500px;
    font-size: 18px;
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
   
    display: block;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.card {
    background-color: #1E1E1E;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 25px;
    overflow: hidden;
     border: 3px solid #F0DE36;
    width: 250px;
    cursor: pointer ;
    
}
.card img {
   height: 300px;
   object-fit: cover;
}
.card h3 {
    margin: 10px;
    font-size: 1.2em;
}
.card p {
    margin: 10px;
    color: #fdfcfc;
}
.avatar-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.avatar-wrapper div {
    display: flex;
    flex-direction: column;
}

.avatar-wrapper img{
    width: 35px;
    height: 35px;
    
}


.avatar-wrapper strong {
    font-size: 1em;
    margin: 0;
}
.avatar-wrapper p {
    margin: 0;
    color: #d1c2c2;
}
